lapi.o
lauxlib.o
lbaselib.o
lbitlib.o
lcode.o
lcorolib.o
lctype.o
ldebug.o
ldo.o
lfunc.o
lgc.o
linit.o
llex.o
lmathlib.o
lmem.o
lobject.o
lopcodes.o
lparser.o
lstate.o
lstring.o
lstrlib.o
ltable.o
ltablib.o
ltm.o
lvm.o
lzio.o
